<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../fontawesome-5.15.3/css/all.css">
  <link rel="stylesheet" href="../bootstrap-5.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/estilo.css">
  <title>NewEvent</title>
</head>
<body>
    <header>
      <h2>NewEvent</h2>
    </header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Eventos</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Eventos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/cliente/list">Cliente</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sobre">Sobre</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="container table-responsive">
      
      <table class="table">
        <thead  class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">E-mail</th>
          <th scope="col">CPF</th>
          <th scope="col" colspan="2">
            <a class="a-add" href="./add"><i class="fa fa-plus"></i> Novo</a>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cliente : ${clientes}">
          <th scope="row" th:text="${cliente.id}"></th>
          <td th:text="${cliente.nome}"></td>
          <td th:text="${cliente.email}"></td>
          <td th:text="${cliente.cpf}"></td>
          <td><a class="a-edit" th:href="@{'./edit/' + ${cliente.id}}"><i class="far fa-edit"></i></a></td>
          <td><a class="a-delete" href="./delete/1"><i class="fa fa-trash"></i></a></td>
        </tr>
        </tbody>
      </table>
    </div>

    
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../bootstrap-5.0.0/js/bootstrap.min.js"></script>
    
</body>
</html>