<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../fontawesome-5.15.3/css/all.css">
  <link rel="stylesheet" href="../bootstrap-5.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/estilo.css">
  <title>NewEvent</title>
</head>
<body>
    <header>
      <h2>NewEvent</h2>
    </header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Eventos</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/evento/list">Eventos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/cliente/list">Cliente</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sobre">Sobre</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="container table-responsive">
      
      <table class="table">
        <thead  class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Hora</th>
          <th scope="col">Data</th>
          <th scope="col">Preço</th>
          <th scope="col" colspan="2">
            <a class="a-add" href="./add"><i class="fa fa-plus"></i> Novo</a>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="evento : ${eventos}">
          <th scope="row" th:text="${evento.id}"></th>
          <td th:text="${evento.nome}"></td>
          <td th:text="${evento.hora}"></td>
          <td th:text="${evento.data}"></td>
          <td th:text="${evento.preco}"></td>
          <td><a class="a-edit" th:href="@{'./edit/' + ${evento.id}}"><i class="far fa-edit"></i></a></td>
          <td><a class="a-delete" th:onclick="|showModalDeletar('evento', ${evento.id})|"><i class="fa fa-trash"></i></a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <!--MODAL PARA DELETAR-->
    <div class="modal" tabindex="-1" id="modalDeletar">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Atenção</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Você realmente deseja deletar o registro?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" th:onclick="deletar()">Deletar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    
    
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../bootstrap-5.0.0/js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>
    
</body>
</html>